.image{

    width: 200px;
    margin-left: 45%;
    margin-top: 380px;
    position: absolute;
  
    
    }
    
    .title{
    
    font-size: 70px;
    color: rgb(255, 255, 255);
    margin-top: 700px;
    margin-left: 26%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    position: absolute;
    }
    
    .buttons{
    
    position: absolute;
    margin-top: 950px;
    margin-left: 160px;
    
    }
.anubi{
  width: 30%;
 
margin-top: 1400px;
margin-left: 2%;
position: absolute;
box-shadow: 8px 8px rgb(250, 69, 69) ;
    
}
.anubitext{
position: absolute;
margin-left: 6%;
margin-top:1300px;
font-size: 30px;
font-weight: bolder;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: blue;

}
.anubides{
margin-left: 40%;
text-align: justify;
font-weight: bold;
font-family: monospace;
position: absolute;
font-size: 200%;
font-style: italic;
position: absolute;
margin-top: 1500px;

}
.animation{

width: 100%;
height: 100vh;
position: absolute;
display: flex;
justify-content: center;
align-items: center;



}


